<main>
    <section class="login-section
    ">
    <h1>
        Login to ZEE5
    </h1>
    <p>
        Login to continue enjoying uninterrupted video and personalized experience.
    </p>
    <div class="social-login">
        <button aria-label="Login with Google" ><img style="height: 50px;width: 50px;" src="assets/google.png" alt="Google"></button>
        <button aria-label="Login with Facebook"><img style="height: 55px;width: 55px;"src="assets/facebook.png" alt="Facebook"></button>
        <button aria-label="Login with Twitter"><img style="height: 55px;width: 55px;"  src="assets/twitter.png" alt="Twitter"></button>
        <button aria-label="Login with Apple"><img style="border-radius: 50%;height: 50px;width: 50px;" src="assets/mac-os.png" alt="Apple"></button>
      </div>
      <div class="or-divide">
        <span><div class="outer-side"><p>or</p></div></span>
        </div>
      <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
        <input type="text" formControlName="Credential" [ngStyle]="{'border-color': userForm.controls['Credential'].invalid && userForm.controls['Credential'].touched ? 'red' : ''}" placeholder="Enter Email or Phone number">
        <label for="inputValue" *ngIf="userForm.controls['Credential']?.invalid && userForm.controls['Credential']?.touched">{{showError()}}</label>
        </div>
        <div class="button">
        <button (click)="onSubmit()" [disabled]="!userForm.valid" [ngStyle]="{'background-color': userForm.invalid ? '#c097e2' : '', 'cursor': userForm.invalid ? 'not-allowed' : 'pointer'}" (click)="sendMessage()">Login</button>
        </div>
        <p>New to ZEE5 ? <a routerLink="/register">Register</a></p>
      </form>
    </section>
 </main>