

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0f0617;
    margin-top: 40px;
    
  }
section{
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
}
main section > h1{
    color: rgb(19, 19, 19);
    letter-spacing: .5px;
    font-size: 28px;
}
main section > p{
    text-align: center;
    font-size: 16px;
    letter-spacing: .3px;
    font-weight:400;
    color: rgb(40, 40, 40);
    letter-spacing: .8px;
    margin: 8px 0 20px 0 ;
    
}
.social-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0 0px 0;
}
.social-login button{ 
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.social-login button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.or-divide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
    padding: 18px;
    position: relative;

}
.or-divide span{
    height: .5px;
    background-color: rgb(190, 190, 190);
    width: 390px;
    z-index: 1;
}
.or-divide .outer-side{
    background-color: #ffffff;
    height: 50px;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}
.or-divide p{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 7px;
    transform: translate(-50%, -50%);
    background-color:#efefef;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    z-index: 1;
    text-align: center;
    font-weight: 500;
    border: 1px solid rgb(199, 199, 199);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 330px;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 20px;
    font-size: .9rem;
    border: 1px solid  lightgrey;
    position: relative;
}
.form-group{
    width: 100%;
    position: relative;
}
 input[type="text"]~label{
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 10px;
    color: rgb(222, 16, 16);
    letter-spacing: .5px;
}
 input:focus{
    outline: none;
    border: 1px solid #8230c6;
}

.form-check{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-check input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-check .form-check-label{
    font-size: 11.7px;
    letter-spacing: .3px;
    font-weight: 400;
    text-align: center;
    color: gray;
    
}
.form-check .form-check-label a{
    text-decoration: none;
    color: #8230c6;
}
.form-check .form-check-label a:last-child{
    margin-top: 10px;
}
form .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
form .button button{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:  #8230c6;
    color: #ffff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .2px;
}
form p{
    margin-top: -5px;
    text-align: center;
    font-size: 17px;
}
form p a{
    text-decoration: none;
    color: #c097e2;
}